* {
  width: initial;
  margin: initial; }

nav, nav a:hover, nav a, .menu, menu li a, menu li a:hover, body, .contacto, .titulo {
  color: black; }

nav, .menu, .dropdown-menu, .dropdown:hover .dropdown-menu, .title, .contacto {
  background-color: white; }

nav, .menu, .titulo {
  font-family: "Bebas Neue", cursive; }

.proyecto, .contacto, body {
  font-family: "Montserrat", sans-serif; }

.dropdown-menu,
.dropdown:hover .dropdown-menu,
.cuadro-busqueda {
  display: flex;
  flex-direction: column; }

.card-body,
.card-container {
  display: flex;
  flex-direction: row; }
