*{
  width: initial;
  margin: initial;
}

/*Mobile*/
@media only screen and (max-width:480px)
{
  body {
    width: 100%;   
  }
  main .card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

}

/*Menu superior*/

.menu { 
display: flex;
width: 100%;
padding: 20px;
background-color: white;
list-style: none;
color: black;
font-family: 'Bebas Neue', cursive;
}

.menu li a {
  padding: 15px;
  text-decoration: none;
  color: black;
}

.menu li a:hover{
  background-color: lightblue;
  color: black;
}

/*menu desplegable*/
.dropdown {
  position: relative;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 2px;
  padding-top: 10px;
  position: absolute;
align-items: flex-start;
  text-decoration: none;
  display: none;
}

.dropdown-menu li a{
  padding-left:20px;
  display: flex;
  justify-content: flex-end;
  }

.dropdown:hover .dropdown-menu {
  display:flex;
  flex-direction: column;
  background-color: white;
}

.dropdown-menu li {
 
  list-style: none;
  border-bottom: 1px solid whitesmoke ;
  padding-right: 20px;
}




/*body*/
body {
    background-color: whitesmoke;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
    width: 100%;
}

/*sección busqueda*/
.cuadro-busqueda {
 background-image: url(../images/fotogranel.jpg);
  background-repeat: no-repeat;
background-position: center;
background-size: cover;
padding: 60px;
display:flex;
flex-direction:column;
justify-content: space-around;
}

.title-text{
font-size: 4rem;
color: white;
font-weight: 900;

}

.buscador {
  padding: 25px;
  transition: 3s linear all;
}

.cuadro-busqueda{
  display: flex;
  justify-content: space-evenly;
}
/*seccion resultados*/

.card-body{
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.card-container {
  background-color: white;
  border: solid #f0f5f5 1px;
  border-radius: 5px;
  width: 300px;
  margin: 50px;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
padding: 50px;
transition: width 1s, height 1s;
}
.card-container:hover{
  width: 350px;
}

.icon {
  width: 100px;
  height: 100px;

}

.card-description h3 {
  font-size: 200%;
  font-weight: bold;
  margin: 15px;
}

/*footer*/
nav {
  background-color: white;
  text-align: left;
  font-family: 'Bebas Neue', cursive;
  color: black;
  padding: 2%;
  width: initial;
  
  }
  nav a {
    text-decoration: none;
    padding: 5px;
    color: black;
  }
  nav a:hover {
    background-color: lightblue;
    color: black;
  }

  
/*pagina de contacto*/
.contacto {
  background-color: white;
  color: black;
  font-family: 'Montserrat', sans-serif; 
  text-align: center;
  font-weight: bold;
}
.datos1{
  padding: 10px;
}
.datos1 input{ 
  width: 40%;
}
.datos2 {
  padding: 25px;
}

/*pag proyecto*/
.proyecto {
  text-align: center;
  font-size: 200%;
  word-spacing: 2px;
  font-family: 'Montserrat', sans-serif; 
margin: 3%;
font-style: italic;

}
.titulo {
  font-family: 'Bebas Neue', cursive;
  color: black;
  font-size: 250%;
  padding: 1%;
}

/*inscripcion local y contacto */

.datos1, .contacto {
  display:flex;
flex-direction: column;
align-items: center;

}
.form-titles, .contacto{
  margin: 15px;
}

