@import 'scss/fonts';
$color-primario:black;
$bg-color:white;
$total-width: 100%;

@mixin flex-row 
{
    display:flex;
    flex-direction: row;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}


*{
    width: initial;
    margin: initial;
  }

nav, nav a:hover, nav a, .menu, menu li a, menu li a:hover, body, .contacto, .titulo {
    color:$color-primario;
} 

nav, .menu, .dropdown-menu, .dropdown:hover .dropdown-menu, .title, .contacto
{
    background-color:$bg-color;
}

nav, .menu, .titulo {
    font-family: $font-family-one;

}

.proyecto, .contacto, body {
    font-family: $font-family-two;
}


.dropdown-menu,
.dropdown:hover .dropdown-menu,
.cuadro-busqueda
 {
    @include flex-column;
}

.card-body,
.card-container
{
    @include flex-row;
}

.menu { 
display: flex;
width: $total-width;
padding: 20px;
list-style: none;
    }

.menu {
    li {
        a {
padding: 15px;
text-decoration: none;
      }
    }
}
a:hover{
    background-color: lightblue;
  }
/*menu desplegable*/
.dropdown {
    position: relative;
  }

  
.dropdown-menu {
    border-radius: 2px;
    padding-top: 10px;
    position: absolute;
  align-items: flex-start;
    text-decoration: none;

    li {     
  list-style: none;
  border-bottom: 1px solid whitesmoke ;
  padding-right: 20px;
        
        a{
    padding-left:20px;
    display: flex;
    justify-content: flex-end;
    }
}
}

